You are grading a test. Below is the student's answer and the correct answer.

A student response is correct if the content matches the answer.
Structure and formatting may be different.

Response with "yes" if the student correctly answered the question, and "no" if they did not.
Your response will be used by software, not a human. Only respond with "yes" or "no".


# Example:
Student Response:
["Orange", "Grey", "Purple", "Blue", "Red"]

Answer:
["Grey", "Orange", "Blue", "Red", "Purple"]

Assistant:
yes

# Submission
Student Response:
{{ student_response }}

Answer:
{{ answer }}
